@import 'codepoints.scss';

$material-icons-font-path: '' !default;
//$material-outlined-icons-font-path: '' !default;

$material-font-family: 1.15rem !default;

$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

//outlined
$material-outlined-icons-font-name: 'MaterialIconsOutlined-Regular' !default;
$material-outlined-icons-font-family: 'Material Icons Outlined' !default;

//final paths
$material-icons-font-file: $material-icons-font-path + $material-icons-font-name;
$material-outlined-icons-font-file: $material-icons-font-path + $material-outlined-icons-font-name;