.blockcart {
  color: $white;
  //background-color: theme-color('primary');
  padding: $spacer/2;

  .header {
    position: relative;
  }

  .cart-products-count {
    border-radius: 50%;
    background: $danger;
    font-weight: $font-weight-bold;
    color: $white;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 1.26;
    position: absolute;
    top: -5%;
    right: -48%;
  }

  &.inactive {
    color: $gray-600;
    //background-color: $gray-200;
    .cart-products-count {
      background: $gray-400;
    }

    .material-icons {
      color: $gray-600;
    }
  }
}



//card left column (list of products added)
.card-body{
  position: relative;
  .cart__card-loader{
    @include abs-equal();
  }

}



.cart-container {

  border-bottom: unset;

  .card-header {
    border-bottom: unset;
  }

  .card-body {
    @extend .border-bottom;
    @extend .border-top;
    padding: 0;
  }


    //medias
  .media {
    align-items: center;

    @include media-breakpoint-up(sm) {
      border-right: $border-width solid $border-color;
    }

    img {
      @extend .mx-3;
    }

    a {
      color: $primary;
    }
  }

  .remove-from-cart {
    transition: color .4s $bezier3;

    &:hover i{
      color: $danger;
    }
  }
}

.cart-grid {
  .btn{
    width:100%;
  }
  .card-footer{
    padding: 0;
  }
  .card--reassurance{
    @extend .border;
  }
}

.cart-summary{
  margin-bottom: $spacer-bloc;
}


