.account-links{
  @extend .align-items-stretch;
  > a{
    margin-bottom: $spacer;

    .link-item{
      box-shadow: none;
    }
  }
  .link-item{
    @extend .card;
    @extend .shadow;
    padding: $spacer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 100%;

    i{
      margin: 0 auto $spacer;
      font-size: $font-size-base*3;

    }
  }
}
.page-footer--my-account{
  @extend .btn;
  @extend .btn-danger;
  a {
    @extend .text-white;
  }
}
.address{
  @extend .card;
}
.address-header{
  @extend .card-header;
  background-color: transparent;
}
.address-body{
  @extend .card-body;
}
.address-footer{
  @extend .card-footer;
  display: flex;
  justify-content: space-between;

}


#logout-link {
  color: $danger;
  &:hover,  .logout{
    color:darken($danger,1.3);
  }
  span {
    border-color: $danger;
    border-width: $border-size-lg;
  }
}

.account{
  span{
    color:$primary;
    font-weight: $font-weight-bolder;
  }
}


.user-info a span:hover:not(.account){
  color:$primary;
}