.l-footer {
  color: $white;


  .title {
    color: $white;
    display: block;
  }

  .cms-page-link,
  .account-list a {
    color: $white;

    &:hover {
      color: $gray-300;

    }
  }
}


.footer-container {
  padding-top: $bg-spacer;
  @extend .pb-4;

  @include media-breakpoint-up(md) {
    padding-top: $bg-spacer *1.2;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $bg-spacer*1.575;
  }
  @include media-breakpoint-up(xl) {
    padding-top: $bg-spacer*1.785;
  }
  @media (min-width: 1500px) {
    padding-top: 12%;
  }
}


.l-footer {
  margin-top: $spacer-bloc;
  position: relative;
  overflow: hidden;
  background-color: $footer-bg;

  &::before {
    content: '';
    background: center bottom /100% no-repeat url('../img/itib-bg.svg'); //, -16% -15%/20% no-repeat linear-gradient(to left, $primary, darken($primary, 0.1));
    //background:50% 0/cover no-repeat;
    width: 110%;
    height: 40%;
    position: absolute;
    left: -1em;
    top: 0;
    transform: translateY(-3%) rotate(180deg);

    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}


// info

.block-contact, .block-link {


  .footer__title {
    font-weight: $font-weight-bolder;
  }

  ul li:first-child, .footer__title--mobile {
    display: none;
  }


}