$bg-offset: 21.5vh;

.carousel {
  margin-bottom: 8%;
}

.carousel a {
  display: block;
  z-index:2;

  &:not(:first-child) {
    display: none;
  }
}

.slider-caption {
  position: absolute;
  //top:0;
  width: 100%;
  margin-bottom: 0;
  color: #fff;
  font-size: .7rem;

  .display-1 {
    margin-bottom: .2em;
  }

  @media (min-width: map_get($grid-breakpoints, "md")) {
    top: 30%;
    margin: auto 0;
    font-size: inherit;

    .display-1 {
      margin-bottom: inherit;
    }
  }
}

//deco background
#index .rc::before {
  content: "";
  background: $primary;
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 40%;
  z-index: 1;
  box-shadow: 90px 3px 80px 70px $primary;
}

.slider-caption {
  z-index: 2;
}

.carousel::after {
  content: "";
  background: 50% 0 /cover no-repeat url('../img/itib-bg.svg'), -16% -20%/20% no-repeat linear-gradient(to left, $primary, darken($primary, 0.1));
  //background:50% 0/cover no-repeat
  width: 110%;
  height: $bg-offset;
  position: absolute;
  left: -1em;
  display: none;


  @media (min-width: map_get($grid-breakpoints, "sm")) {
    bottom: -8vh;
    transform: translateY(8vh);
    display: block;
  }
  @media (min-width: map_get($grid-breakpoints, "md")) {
    bottom: -7.4vh;
    transform: translateY(7.4vh);
  }
  @media (min-width: map_get($grid-breakpoints, lg)) {
    bottom: -7.1vh;
    transform: translateY(7.1vh);
  }
  @media (min-width: map_get($grid-breakpoints, "xl")) {
    bottom: -4vh;
    transform: translateY(4vh);
  }
  @media (min-width: 1500px) {
    bottom: -3vh;
    transform: translateY(3vh);
  }
}


//displays settings
.slick-slide:not(.slick-current) .img-carousel.lazyload {
  display: none !important;
}

.slick-slide figure {
  position: absolute;
  top: 0;
}

