

#menu-icon{
  @extend .border-right;
}
#_mobile_user_info .account{
  @extend .border-right;
  @extend .border-left;
  height:100%;
}

//modules on menu
.l-header {
  z-index: 99;
  color: $gray-700;

  a, i {
    color: $gray-700;
    font-weight: $font-weight-light;
  }


}

.user-info {
  height: 100%;

  > a {
    padding: .5em 0;
  }
}

.l-header .container {
  @media (max-width: map_get($grid-breakpoints, "lg")) {
    max-width: 100%;
    margin:0;
  }
}