//display home and landing page design

$left: -2.5em;
$top: 24px;
$left-p: 1.025em;
$fsz: 3.5rem;
$s: 29px;
$he: 69%;

.l-wrapper .ld-page {
  position: relative;

  .ld-page-wrapper {
    position: relative;
    z-index: 2;
    background: $white;
    @extend .border;
  }

  .display-2 {
    position: relative;
    @extend .py-2;

    &::before {
      content: "\2022";
      position: absolute;
      font-size: $fsz;
      left: -$left-p;
      top: 50%;
      transform: translateY(-50%);
      height: $s;
      width: $s;
      background: center no-repeat linear-gradient($white, darken($white, 1.05));
      border-radius: 50%;
      margin: auto;
      text-align: center;
      line-height: .4735;
      z-index:3;
    }
  }

  .card-body {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -1.35em;
      height: 97.5%;
      top: 3.5rem;
      width: 4px;
      background: $body-color;
      border-radius: $border-radius;
      z-index:2;
    }

  }

  .custom-text:last-of-type .card-body::after {
    display: none;
  }

  .custom-text {
    position: relative;
    &::before {
      content: "";
      height: 100%;
      width: 2.45em;
      @extend .border-left;
      background: $white;
      position: absolute;
      left: $left;
      top: $top;


    }

    &:first-of-type::before {
      @extend .border-top;
    }

    &:last-of-type::before {
      @extend .border-bottom;
      height:3.7em;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-text::before, .card-text::after, .display-2::after, .display-2::before {
      display: none;
    }
  }

}


// category
#cms .page-content {
  padding: 0;

  .ld-page-wrapper {
    @extend .border-top-0;
  }
}

#cms .page-wrapper {
  background: unset;
  @extend .border-bottom-0;
  @extend .border-right-0;
  @extend .border-left-0;

  .page-header {
    border: unset;
    @extend .border-right;
    @extend .border-left;

    h1 {
      @extend .display-1;
    }
  }

  .ld-page {

    @include media-breakpoint-up(md) {
      &::before {
        height: 90%;
      }

      &::after {

        height: 80%;
      }
    }
  }
}

