
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,800&display=swap');

$material-font-size: $font-size-base*$line-height-base;
$material-icons-font-path: './_modules/material-icons/fonts/';



@import '../_modules/material-icons/material-icons';


//fix height
.material-icons + span {
  display: inline-block;
}

.small .material-icons,
.btn-sm .material-icons {
  font-size: $small-font-size;
  line-height: $line-height-base;
}

.btn-lg .material-icons, .btn-lg .material-icons-outline {
  font-size: $font-size-sm*$btn-line-height-sm;
}

.pagination .material-icons, .pagination .material-icons-outline {
  font-size: $font-size-base*$pagination-line-height;
}

.material-icons.md-18 {
  font-size: 18px;
  line-height: 1
}

.material-icons.md-24 {
  font-size: 24px;
  line-height: 1
}

.material-icons.md-36 {
  font-size: 36px;
  line-height: 1
}

.material-icons.md-48 {
  font-size: 48px;
  line-height: 1
}


.material-icons.md-light.md-inactive {
  color: $gray-500;
}
