//
// Color system
//
$white: #fff;
$primary: #5ba8d5;
$black: #000;
$gray-200: #e9ecef;
$gray-300: #f1f1f1;
$gray-400: #ced4da;
$gray-500: #b6c1c2;
$gray-600: #6c7778;
$gray-700: #737373;


$body-color: $gray-700;

// Options
$enable-rounded: false;
$enable-shadows: false;

//spacing
$spacer-bloc: 2rem;


//
// Links
//
// Style anchor elements.

$link-hover-decoration: none;

// Transitions
//
// Custom bezier
$bezier: cubic-bezier(.76, .01, .19, 1.42);
$bezier2: cubic-bezier(.23, .19, .83, .23);
$bezier3: cubic-bezier(.51, .39, 0, .88);


// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: "Mukta", $font-family-sans-serif;

$font-size-base: 1.15rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.75;
$font-size-sm:                $font-size-base * 1.25 ;

$h1-font-size: $font-size-base * 1.875;
$h2-font-size: $font-size-base * 1.55;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.150;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.9375;

$display1-size: 3.563rem;
$display1-weight: 800;
$display2-size: 3.25rem;
$display2-weight: 800;
$display3-size: 2.563rem;
$display3-weight: 400;
$display4-size: 1.75rem;
$display4-weight: 400;

$small-font-size: $font-size-base * 0.875;

//WEIGHTS

$font-weight-lighter:         200 ;
$font-weight-light:           300 ;
$font-weight-normal:          400 ;
$font-weight-bold:            700 ;
$font-weight-bolder:          800 ;


//ENABLE REPONSIVE FONTS
$enable-responsive-font-sizes: true;
// Components
//
// Define common padding and border radius sizes and more.

$box-shadow: 0px;

// Navs
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: transparent transparent $nav-tabs-border-color;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: transparent transparent $primary;
// Pagination

$pagination-border-color: $gray-400;
$pagination-disabled-border-color: $gray-400;
$pagination-hover-border-color: $gray-400;

// Modals
$modal-lg: 990px;

//tables
$table-bg: $white;

//borders
$border-width: 1px;
$border-color: $gray-400;
$border-size-lg: 4px;


//text-colors

$text-muted: $gray-600;
$text-secondary: $gray-700;

//links
$link-color: $gray-600;

//breadcrumb
$breadcrumb-margin-bottom: $spacer-bloc;
$breadcrumb-bg:$white;
//buttons
$btn-font-weight: $font-weight-bolder;
$btn-link-disabled-color: $gray-400;
$btn-transition: color .2s $bezier3, background-color .2s $bezier3, border-color .2s $bezier3, box-shadow .2s $bezier3;


