//
// Color system
//
$white: #fff;
$light:#fafafa;
$primary: #3ABDA4;
$danger: #fe8282;
$success: #91DBBC;
$black: #000;
$gray-200: #e9ecef;
$gray-300: #f1f1f1;
$gray-400: #ced4da;
$gray-500: #b6c1c2;
$gray-600: #808b8c;
$gray-700: #737373;
$gray-800: #696969;

$darker: $gray-600;

$body-color: $darker;
//borders
$border-width: 1px;
$border-color: $gray-400;
$border-size-lg: 4px;

// Options
$enable-rounded: false;
$enable-shadows: false;

//spacing
$spacer-bloc: 2rem;

//
// Links
//
// Style anchor elements.

$link-hover-decoration: none;

// Transitions
//
// Custom bezier
$bezier: cubic-bezier(.76, .01, .19, 1.42);
$bezier2: cubic-bezier(.23, .19, .83, .23);
$bezier3: cubic-bezier(.51, .39, 0, .88);


// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: "Mukta", $font-family-sans-serif;

$font-size-base: 1.15rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.575;
$font-size-sm: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 1.875;
$h2-font-size: $font-size-base * 1.55;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.150;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.9375;

$display1-size: 3.563rem;
$display1-weight: 800;
$display2-size: 3.25rem;
$display2-weight: 800;
$display3-size: 2.563rem;
$display3-weight: 400;
$display4-size: 1.75rem;
$display4-weight: 400;

$small-font-size: $font-size-base * 0.875;
$display-line-height: 1.15 !important;
$line-height-computed: 1.3;
//WEIGHTS

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;


//ENABLE REPONSIVE FONTS
$enable-responsive-font-sizes: true;
// Components
//
// Define common padding and border radius sizes and more.

$box-shadow: 0px;
$box-shadow-lg: 0 20px 40px rgba(0, 0, 0, 0.04);

// Navs
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: transparent transparent $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $gray-800;

$nav-link-padding-x: 0;
//$nav-tabs-link-hover-border-color:$gray-800;
$nav-tabs-link-active-border-color: transparent transparent $primary;
// Pagination

$pagination-border-color: $gray-400;
$pagination-disabled-border-color: $gray-400;
$pagination-hover-border-color: $gray-400;

// Modals
$modal-lg: 990px;

// Padding applied to the modal body
$modal-inner-padding: 5rem;

$modal-dialog-margin: .5rem;
$modal-dialog-margin-y-sm-up: 1.75rem;

$modal-content-border-color: transparent;
$modal-content-bg: transparent;


$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .65;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility


$modal-fade-transform: translate(-50%, -50%);
$modal-show-transform: none;
$modal-transition: transform .3s $bezier;

//tables
$table-bg: $white;
//====forms====
//buttons
$btn-padding-y: .5rem;
$btn-focus-width: 1px;
//input
$input-focus-box-shadow: inset 0 0 0px 1px $body-color;
$input-focus-border-color: $body-color;
$input-height: 3rem;
//card
$card-border-color: $gray-400;
$card-cap-bg: $white;


//text-colors
$text-muted: $gray-600;
$text-secondary: $gray-700;

//links
$link-color: $gray-600;

//breadcrumb
$breadcrumb-margin-bottom: $spacer-bloc;
$breadcrumb-bg: $white;
//buttons
$btn-font-weight: $font-weight-bolder;
$btn-link-disabled-color: $gray-400;
$btn-transition: color .2s $bezier3, background-color .2s $bezier3, border-color .2s $bezier3, box-shadow .2s $bezier3;

$btn-padding-y-lg: .35rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: $font-size-lg;
$btn-line-height-lg: $line-height-computed;

//alert
$alert-margin-bottom: $spacer-bloc;
$alert-border-level: 6;
$alert-color-level: 6;

//list-group
$list-group-item-padding-y: 2rem;


//forms

